@charset "utf-8";

/*リセット
-------------------------------------------*/

body,
div,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
pre,
form, fieldset, input, textarea,
p, blockquote,
th, td{
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
address, em {
	font-style: normal;
}



/*フォント
-------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6{
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.8em;
	font-size: 1em;
	}





/*リンク
-------------------------------------------*/

a:link {
	color: #0068b6;
	text-decoration: none;
	
	

}

a:visited {
	color: #0068b6;
}
a:hover {
	color: #0068b6;
	text-decoration: underline;
}

:hover{   -webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out;  
}
